name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    defaults:
      run:
        working-directory: compiler
    steps:
      - name: Checkout compiler
        uses: actions/checkout@v4
        with:
          persist-credentials: false
          path: compiler
          submodules: recursive
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
      - uses: sbt/setup-sbt@v1
      - name: Run tests
        run: sbt test
